<% layout("/layouts/boilerplate.ejs") %>
<body>
  <%- include("../include/category.ejs") %>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 contain mt-3">
    <% for(categoryItem of categoryItems) {%>
      <a href="/listing/<%= categoryItem._id %>/show" class="card-anchor">
        <div class="card col mb-3 card-review" >
          <img src="<%= categoryItem.image.url %>" class="card-img-top" alt="...">
          <div class="card-img-overlay">abcd</div>
          <div class="card-body">
            <p class="card-text"><b><%= categoryItem.title %></b> <br>
              &#8377; <%= categoryItem.price %>/night &nbsp;<i class="gst">+18% GST</i>
          </p>
          </div>
        </div>
      </a>      
     <% }%>
  </div>
   
</body>
